{% extends 'base.html' %}

{% block content %}
  <style>
    .burger_detail {
        text-align: center;
        margin: -180px auto;
    }
  </style>

<div style="background-color: #ff8732; height: 150px;">
</div>
    <div class="burger_detail">
        <img src="{{ product.image.url }}">
        <h4>{{ product.name }}</h4>
        <p>{{ product.kkal }} kkal</p>
        {% if product.status == 'in stock' %}
        <p style="color: green;">В наличии</p>
        {% else %}
        <p style="color: red;">Нет в наличии</p>
        {% endif %}
    {% if request.user.is_superuser %}
    <a class="btn btn-warning" href="{% url 'update' product.id %}" role="button">Update</a>
     <a class="btn btn-danger" href="{% url 'delete' product.id %}" role="button">Delete</a>
   {% endif %}
    </div>

{% endblock %}